.footer-container {
    margin-top: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--c-mdnblu);
    width: 100vw;
    opacity: 0.98;
    position: relative;
    bottom: 0;



    &__social-icons {
        display: flex;
        justify-content: center;
        margin: 1em; 

    }

    &__icon {
        text-decoration: none;
        color: var(--c-ltblu);
        margin: 0em 1em;
        font-size: 2em;
        transition: 0.2s;
    }

    &__icon:hover{
        color: var(--c-prpl);
    }

    &__footer-nav ul{
        display: flex;
        justify-content: center;
    }

    &__list {
        text-decoration: none;
        margin: 2em;
        font-size: larger;
        color: var(--c-ltblu);
    }

    &__list:hover {
        color: var(--c-prpl);
    }

    &__footer-bottom{
        padding: 1em;
        margin-top: 1em;
        text-align: center;
        color: var(--c-rblu);
    }


}

@media (max-width: 900px){
    .footer-nav ul{
        flex-direction: column;
    }
}